main(role="main" aria-labelledby="hero-header")
  .animatable-element
  figure.TEst-picure
    img(src="ава тренить.jpg", alt="An simple image to test reloading and retina" title="TEst image")
    caption TEst image
